@font-face {
  font-family: "iconfont"; /* Project id 3485327 */
  src: url('iconfont.woff2?t=1656238660449') format('woff2'),
       url('iconfont.woff?t=1656238660449') format('woff'),
       url('iconfont.ttf?t=1656238660449') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before {
  content: "\e604";
}

.icon-biaoqian:before {
  content: "\e65b";
}

.icon-home2:before {
  content: "\e605";
}

.icon-1:before {
  content: "\e606";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-yonghu:before {
  content: "\e616";
}

.icon-meiyuan:before {
  content: "\eb1a";
}

.icon-renwujincheng:before {
  content: "\ec35";
}

.icon-xiaoxitongzhi:before {
  content: "\ec36";
}

.icon-renwu1:before {
  content: "\e61b";
}

.icon-tiaoxingtu:before {
  content: "\e607";
}

.icon-liulan:before {
  content: "\e68b";
}

.icon-24gl-portraitMalePlus4:before {
  content: "\eb25";
}

.icon-xiaoxi1:before {
  content: "\e611";
}

.icon-suoding:before {
  content: "\e600";
}

.icon-michi:before {
  content: "\e601";
}

.icon-bianji:before {
  content: "\e602";
}

.icon-bianji1:before {
  content: "\e603";
}

.icon-suoding1:before {
  content: "\e6e6";
}

.icon-renwu-ren:before {
  content: "\e749";
}

.icon-renwu-zengjia:before {
  content: "\e74a";
}

.icon-yanjing_xianshi_o:before {
  content: "\ebcc";
}

.icon-yanjing_yincang_o:before {
  content: "\ebcd";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-yanjing1:before {
  content: "\e8c7";
}

.icon-renwu:before {
  content: "\e69e";
}

